body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.big-title {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 6%;
    background: #2f303a;
    color: #ffffff;
}

.portfolio-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 6%;
}

.lorem-impsum-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
    text-transform: uppercase;
}

.main-business {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 3%;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 3%;
}

.portfolio-title {
    font-size: 16px;
    line-height: 1.88;
    color: #757575;
    letter-spacing: 3%;
}

.lorem-wording {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
    color: #757575;
}

.team-player {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 3%;
}

.team-role {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 3%;
    color: #757575;
}

.address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 3%;
    background: #2f303a;
}

.direct-address {
    color: #ffffff;
}

.blue-font {
    color: #2196f3;
}

.white-font {
    color: #ffffff;
}

.dark-grey {
    color: #000000;
}

.sub-pages {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 2%;
}

button {
    font-family: 'Roboto', sans-serif;
    background: #f5f4fa;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 3%;
    text-align: center;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #212121;
}

nav header {
    font-size: 14px;
    line-height: 1.17;
}

nav a:hover,
nav a:focus {
    color: #2196f3;
}

a:focus,
a:hover {
    color: #2196f3;
}

.contact {
    text-decoration: none;
    color: #757575;
}

.logo-header {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 3%;
}

.logo-footer {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 3%;
    background: #2f303a;
}

a {
    color: #212121;
}
